<style>
	
	table, th, td {
  border: 1px solid black;
border-collapse: collapse;
		margin-top: 20px;
		margin-bottom:20px;
} 


	pre{white-space: break-spaces;overflow:auto;}
	.box{padding: 16px;
    overflow: auto;
    line-height: 1.45;
    background-color: #f7f8fa;
		border-radius: 6px;}
	body{   /* -webkit-font-smoothing: antialiased;*/font-family:/*"gentium book basic",*/ serif;color:#222;}h1{font-family:sans-serif;}h2,h3,h4,h5,h6{/*-webkit-font-smoothing: antialiased;*/margin-bottom:-10px;font-family:sans-serif;}a{color:blue;}a:hover{background-color:#yellow;}
  
  

    
    
@media (prefers-color-scheme: dark) {
    body {
        background-color:#242424;background: #242424; color: #c1b7a5;
    }
	a{color:#ffb200;}a:hover{background-color:#2e2e2e}hr{border: 1px solid #c1b7a5;}img {
    opacity: .8;
}
	/*.header{background-color:#2e2e2e;color:#eee;}.menu{background-color:#2e2e2e;}
	.notebox{background-color:#2e2e2e;color:eee;border:1px dashed #111;
}	blockquote{background-color:#2e2e2e;color:eee;border:1px solid #111;*/
	
	}
	
</style>
