<div id="Menu" class="menu">
	<hr>
	<a href="/" title="Home">Home</a><br>
	<a href="sitemap.html" title="Map of the site">Site Map</a><br>
	<a href="whatsnew.html" title="What's new on this site">What's New</a><br>
	<a href="software.html" title="Software I maintain">Software</a><br>
	<a href="projects.html" title="My projects">Projects</a><br>
	<a href="faqs/" title="My FAQ documents">HOWTOs</a><br>
	<a href="writings/" title="Essays and ruminations">Essays</a><br>
	<a href="personal.html" title="Portrait of the author">Personal</a><br>
	<a href="http://esr.ibiblio.org/">Weblog</a><br>
	<a href="press.html" title="Tips for reporters">For Journalists</a><br>
	<a href="netfreedom/">Freedom!</a><br>
	<a href="guns/">Firearms!</a><br>
	<a href="who-is-ESR.html">Who Is ESR?</a><br>
	<!---<hr>
	<a href="jargon/" title="The Jargon File, aka The New Hacker's Dictionary">
		<img src="/~esr/graphics/nhd3-small.jpg" alt=""></a>
	<br clear="left">
	<a href="http://www.oreilly.com/catalog/cathbazpaper/" title="The Cathedral and the Bazaar">
		<img src="/~esr/graphics/cb.s.png" alt=""></a>
	<br clear="left">
	<a href="writings/taoup/" title="The Art of Unix Programming">
		<img src="/~esr/graphics/taoup.s.png" alt=""></a>
	<hr>--->
	<a href="mailto:esr@thyrsus.com" title="esr@thyrsus.com">Email me</a>
	<hr>

    <p>
      <a href="http://validator.w3.org/check/referer"><img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0!" height="31" width="88"></a>
    </p>
    </div>
