<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>
<meta name="viewport" content="width=device-width, initial-scale=1">	
<title>
   {%if page.title %}
       {{ page.title }}
   {% else %}
       {{ site.title }}
   {% endif %}
</title>
	
<meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
	
<meta property="og:locale" content="en_US">
<meta property="og:type" content="article">
<meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:image" content="{{ page.image }}" />
<meta property="og:site_name" content="Deryk Makgill">
<meta property="article:publisher" content="http://www.facebook.com/derykmakgill" />
<meta property="article:author" content="https://www.facebook.com/derykmakgill" />
<meta property="article:published_time" content="{{ page.date }}" />
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />	
	

<meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:site" content="@wakgill" />
<meta name="twitter:creator" content="@wakgill">
{% if page.image %}
<meta name="twitter:card"  content="summary_large_image">
<meta name="twitter:image" content="{{ page.image }}">
{% else %}
<meta name="twitter:card"  content="summary">
<meta name="twitter:image" content="{{ site.image }}">
{% endif %}

  {%- include css.html -%}
<link href="https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&amp;display=swap" rel="stylesheet">
</head>
<body>

<div id="content" style="
    min-height: 100vh;
">
	
	
{{ content }}

</div>

<!--
Hello!
-->
	
	
	{%- if page.long -%}
	<hr>
	<p>
		<a href="http://validator.w3.org/check?uri=https://lolwut.neocities.org/index.html"><img src="https://lolwut.neocities.org/images/valid-html401.png" width="88" height="31" alt="Valid HTML 4.01 Strict" title="Valid HTML 4.01 Strict"></a>
		<a href="https://www.microsoft.com/en-us/download/internet-explorer.aspx"><img src="https://lolwut.neocities.org/images/msie.gif" width="88" height="31" alt="Best viewed with Internet Explorer" title="Best viewed with Internet Explorer"></a>
		<a href="https://www.microsoft.com/en-us/windows"><img src="https://lolwut.neocities.org/images/made-with-windows.gif" width="88" height="31" alt="Proudly made on Microsoft Windows" title="Proudly made on Microsoft Windows"></a>
		<a href="https://www.eff.org/pages/blue-ribbon-campaign"><img src="https://lolwut.neocities.org/images/free-speech-forever.gif" width="88" height="31" alt="Support freedom of speech" title="Support freedom of speech"></a>
		<a href="https://neocities.org"><img src="https://lolwut.neocities.org/images/neocities.gif" width="97" height="31" alt="Hosted on Neocities" title="Hosted on Neocities"></a>
		<a href="https://get.adobe.com/flashplayer"><img src="https://lolwut.neocities.org/images/get-flash-player.gif" width="88" height="31" alt="Adobe Flash will never die" title="Adobe Flash will never die"></a>
		<a href="https://www.java.com"><img src="https://lolwut.neocities.org/images/get-java.gif" width="88" height="31" alt="Java applets will never die" title="Java applets will never die"></a>
	</p>
	<hr>
	<div class="creds"><p>Copyright 19d6 Consulting, LLC.  ©&nbsp;2020 · <a href="https://breakingsmart.com/wp-login.php">Log in</a></p></div>
  {%- endif -%}	
</body></html>
