
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>
<title>Eric S. Raymond's Home Page</title>
<link rev="made" href="mailto:esr@snark.thyrsus.com">

<meta name="description" content="Everything about my Internet projects.">
</head>
<body>

<div id="Header" class="header">

	<span style="margin-top:5px;">Deryk Makgill's Website</span>


</div>


  {%- include sidebar1.html -%}

<div id="Content">
{%- if page.title -%}
    <h1 class="page-title"> 
      
      {{ page.title }}</h1>
  {%- endif -%}

{%- if page.sourcedate -%}
  
<p>
    <span class="source-date"> 
      
      {{ page.sourcedate }}</span>--<em><span class="source">{{ page.source }}</span></em> <span class="archive">(<a href="{{ page.archive }}">original link</a>)</span>
</p>
<hr>
  {%- endif -%}


{{ content }}

</div>

{%- if page.sourcedate -%}
<hr>
<p>Bitcoin Humour File Edited by Deryk Makgill.</p>
  {%- endif -%}	
		
	

</body></html>
